PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/autopartes_pro
JWT_SECRET=reemplaza_esto_por_un_secreto_largo
MP_ACCESS_TOKEN=TEST-tu-access-token-de-mercado-pago
BASE_URL=http://localhost:3000
ADMIN_EMAIL=admin@autopartespro.cl
ADMIN_PASSWORD=CambiaEstaClave123!
